.waitlist-button1 {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 30px;
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  &:hover {
    background: #fff;
    color: #071a38;
  }
}

.waitlist-form {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.inputs label {
  font-weight: 500;
  color: #fff;
  margin-bottom: 2px;
  text-align: left;
}

.inputs input,
.inputs textarea,
.inputs select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: transparent;
  font-size: 14px;
  box-sizing: border-box;
  color: #fff;
}
.fade-in-text {
  animation: blurIn 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0;
}
.fade-in-subtext {
  animation: blurIn 1.2s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
.fade-in-button1 {
  opacity: 0;
  filter: blur(8px);
  transform: translateY(20px);
  animation: blurIn 1s ease-out forwards;
  animation-delay: 0.8s;
}
